@import '../variables';

.header {
    background-color: $grey;
    justify-content: space-evenly;
    @include size(60px, 100%);
    padding-top: $pad + 10;
}

.nav-list {
    font-size: 18px;

    div {
        width: 160px;
    }

    div a {
        text-decoration: none;
        color: $txt-grey;
    }
}

.logo {
    width: 320px;
    font-size: 30px;
    font-style: italic;
    text-align: center;

    a {
        text-decoration: none;
        color: #38c172;
    }
}

.log-block {
    width: 320px;
    font-size: 20px;
    text-align: center;

    a {
        text-decoration: none;
        color: $txt-light;
    }
}

.admin-header {
    background-color: $grey;
    justify-content: space-evenly;
    @include size(60px, 100%);
    padding-top: $pad + 10;

    .log-block {
        width: 320px;
        font-size: 20px;
        text-align: center;
        padding: $pad;

        a {
            text-decoration: none;
            color: $txt-light;
        }
    }
}



