@import '../variables';

.header {
    background-color: $grey;
    justify-content: space-evenly;
    align-items: baseline;
    @include size(60px, 100%);
    padding: $pad;
}

.logo {
    max-width: 30%;
    font-size: 30px;
    font-style: italic;
    text-align: left;

    a {
        text-decoration: none;
        color: #38c172;
    }
}

.login {
    max-width: 30%;
    font-size: 20px;
    text-align: right;

    a {
        text-decoration: none;
        color: $txt-light;
    }
}

.search {
    max-width: 30%;
    border: 0;
    margin-bottom: 5px;

    input {
        min-width: 100px;
        @include size(30px, auto);
        margin-right: 0;
        padding: 2px;
        border: 0;
        height: 30px;
    }

    button {
        @include size(30px, 60px);
        color: white;
        background-color: $yellow;

        padding: 2px;
        border: 0;
    }
}

.admin-header {
    background-color: $grey;
    justify-content: space-evenly;
    @include size(60px, 100%);

    .log {

        padding: $pad + 10;

        .log-block {
            width: 320px;
            font-size: 20px;
            text-align: center;
            padding: $pad;

            .login, .logout {
                width: 150px;
                color: white;
            }

            a {
                text-decoration: none;
                color: $txt-light;

                &:hover {
                    color: $txt-grey;
                }
            }
        }
    }
}



