.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

.categories {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8cd58;
  font-size: 18px;
  flex-basis: 60px;
}

.menu li {
  position: relative;
}
.menu a, .menu span {
  text-decoration: none;
  display: block;
  padding: 10px 1.5em;
  color: #000000;
  transition: background-color 0.22s ease, color 0.22s ease;
}
.menu a:hover, .menu span:hover {
  text-decoration: none;
  background-color: #333333;
  color: #ffffff;
}

.menu > li, .menu > a {
  display: inline-block;
}

.submenu {
  position: absolute;
  background-color: #f8cd58;
  left: 0;
  height: auto;
  width: 200px;
  display: none;
}

.submenu2 {
  position: absolute;
  background-color: #f8cd58;
  height: auto;
  width: 200px;
  left: 100%;
  top: 0;
  display: none;
}

.menu li:hover > .submenu {
  display: block;
}

.submenu li:hover > .submenu2 {
  display: block;
}
