@import "../variables";

.info {
    background-color: $info;

    &:hover {
        background: 0;
        color: black;
        border: 2px solid $info;
    }
}

.edit {
    background-color: $warning;

    &:hover {
        background: 0;
        color: black;
        border: 2px solid $warning;
    }
}

.delete {
    background-color: $danger;

    &:hover {
        background: 0;
        color: black;
        border: 2px solid $danger;
    }
}


.info, .edit, .delete {
    @include size(50px, 150px);
    padding: $pad;
    border: 2px solid white;
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 25px;

    &:hover {
        text-decoration: none;
        transition: color .3s ease, background .3s ease, border .3s ease;
    }
}

