@import url(https://fonts.googleapis.com/css?family=Nunito);
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #333333;
  justify-content: space-evenly;
  height: 60px;
  width: 100%;
  padding-top: 20px;
}

.nav-list {
  font-size: 20px;
}

.nav-list div {
  width: 95px;
}

.nav-list div a {
  text-decoration: none;
  color: #c6c6c6;
}

.logo {
  width: 285px;
  font-size: 30px;
  font-style: italic;
}

.logo a {
  text-decoration: none;
  color: #38c172;
}

.login {
  width: 285px;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #333333;
  height: 200px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer .info {
  justify-content: space-evenly;
}

.clients,
.about,
.cabinet {
  padding: 10px;
  height: auto;
  width: 150px;
}

.clients a,
.clients h1,
.about a,
.about h1,
.cabinet a,
.cabinet h1 {
  text-align: left;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

.cop-text {
  text-align: center;
  color: #c6c6c6;
  padding: 10px;
}

hr {
  width: 100%;
  border: 1px solid black;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

.categories {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8cd58;
}

.menu li {
  position: relative;
}

.menu a {
  text-decoration: none;
  display: block;
  padding: 10px 1.5em;
  color: #ffffff;
  transition: background-color 0.22s ease, color 0.22s ease;
}

.menu a:hover {
  text-decoration: none;
  background-color: #333333;
  color: #ffffff;
}

.menu > li,
.menu > a {
  display: inline-block;
}

.submenu {
  position: absolute;
  background-color: #f8cd58;
  left: 0;
  height: auto;
  width: 200px;
  display: none;
}

.submenu2 {
  position: absolute;
  background-color: #f8cd58;
  height: auto;
  width: 200px;
  left: 100%;
  top: 0;
  display: none;
}

.menu li:hover > .submenu {
  display: block;
}

.submenu li:hover > .submenu2 {
  display: block;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.box {
  width: 300px;
  padding: 40px;
  background-color: #FFCB73;
  text-align: center;
  border-radius: 25px;
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box .username,
.box .password,
.box .submit {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #5ED1BA;
  padding: 14px 20px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 25px;
  transition: 0.25s;
}

.box .username .submit,
.box .password .submit,
.box .submit .submit {
  border: 2px solid #1F7A68;
  padding: 14px 10px;
  cursor: pointer;
}

.box .username .submit:hover,
.box .password .submit:hover,
.box .submit .submit:hover {
  background: #1F7A68;
}

.box .username:focus,
.box .password:focus,
.box .submit:focus {
  width: 280px;
  border-color: #1F7A68;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.box {
  width: 300px;
  padding: 40px;
  background-color: #FFCB73;
  text-align: center;
  border-radius: 25px;
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box .username,
.box .password,
.box .submit {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #5ED1BA;
  padding: 14px 20px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 25px;
  transition: 0.25s;
}

.box .username .submit,
.box .password .submit,
.box .submit .submit {
  border: 2px solid #1F7A68;
  padding: 14px 10px;
  cursor: pointer;
}

.box .username .submit:hover,
.box .password .submit:hover,
.box .submit .submit:hover {
  background: #1F7A68;
}

.box .username:focus,
.box .password:focus,
.box .submit:focus {
  width: 280px;
  border-color: #1F7A68;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.content {
  justify-content: center;
}

.promotions {
  height: 100px;
  width: 70%;
  margin: 25px;
  border: 2px solid red;
}

.popular {
  background-color: #f8cd58;
  width: 60%;
  padding: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  height: auto;
  width: 60%;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  height: 350px;
  width: 70%;
}


