body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #333333;
}

.login-form {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8cd58;
    text-align: center;
    border-radius: 25px;
    font-size: 20px;
}

.register-form {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8cd58;
    text-align: center;
    border-radius: 25px;
    font-size: 20px;
}

.login-form h1,.register-form h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.name, .email, .password {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #333333;
    padding: 14px 20px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.25s;
    font-size: 16px;
}

.name:focus, .email:focus, .password:focus {
    width: 280px;
    border: 3px solid #333333;
}


.submit, .register {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #333333;
    width: 250px;
    padding: 14px 0;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.25s;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}

.submit:hover, .register:hover {
    background: #333333;
}
