@import '../variables';

.header {
    background-color: $grey;
    justify-content: space-around;
    @include size(75px, 100%);
}

.nav-list {
    font-size: 20px;

    div a {
        text-decoration: none;
        color: $txt-grey;
        padding: $pad;
    }
}


.compare, .login {
    padding: $pad;
    font-size: 20px;
    text-decoration: none;
    color: $txt-light;
}



