// === COLORS === //
$danger: #ff4136;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: rgb(248, 205, 88);
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$grey: rgb(51, 51, 51);
$txt-light: #ffffff;
$txt-grey: #c6c6c6;
$primary:       $blue;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
// === / COLORS === //


$pad: 10px;

// === MIXIN === //
@mixin size($h,$w) {
    height: $h;
    width: $w;
}

// === / MIXIN === //

// === DEFAULT CLASS === //
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

// === / DEFAULT CLASS === //
