@import url("https://fonts.googleapis.com/css?family=Nunito");
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

/* To Dropdown navbar dropdown on hover */
.navbar-nav > li:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.content {
  justify-content: center;
  margin: 0 auto;
  max-width: 70%;
  width: 94%;
}

.popular {
  background-color: #f8cd58;
  padding: 10px;
  margin-top: 15px;
  max-width: 100%;
}

.more {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

.more [open] {
  padding: 0.5em;
}

.more [open] summary {
  border: 1px solid #aaa;
  margin-bottom: 0.5em;
}

.product-list {
  padding: 10px;
  margin: 5px;
  border: 2px solid black;
}
.product-list thead {
  height: 30px;
  font-size: 25px;
  text-align: center;
  background-color: #c3c3c3;
}
.product-list thead th {
  text-align: center;
  border: 1px solid black;
}
.product-list tbody td {
  border: 1px solid black;
  padding: 5px;
}
.product-list .buttons {
  width: 500px;
  justify-content: space-evenly;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.info {
  background-color: #6cb2eb;
}
.info:hover {
  background: 0;
  color: black;
  border: 2px solid #6cb2eb;
}

.edit {
  background-color: #f8cd58;
}
.edit:hover {
  background: 0;
  color: black;
  border: 2px solid #f8cd58;
}

.delete {
  background-color: #e3342f;
}
.delete:hover {
  background: 0;
  color: black;
  border: 2px solid #e3342f;
}

.info, .edit, .delete {
  height: 50px;
  width: 150px;
  padding: 10px;
  border: 2px solid white;
  text-align: center;
  text-decoration: none;
  color: black;
  border-radius: 25px;
}
.info:hover, .edit:hover, .delete:hover {
  text-decoration: none;
  transition: color 0.3s ease, background 0.3s ease, border 0.3s ease;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.datainput {
  position: relative;
  margin: 5px 0 20px;
}
.datainput p {
  font-size: 12px;
  background: #eee;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 0.5rem;
}
.datainput select {
  padding: 12px 0;
  color: #555;
  font-size: 14px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ddd;
  outline: none;
  background: #fff;
}
.datainput input, .datainput textarea {
  font-size: 15px;
  padding: 15px 0;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ddd;
}
.datainput input:focus, .datainput textarea:focus {
  outline: none;
}
.datainput input:focus label, .datainput textarea:focus label {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 18px;
  transition: 0.2s ease all;
}
.datainput input:focus ~ label,
.datainput input:valid ~ label,
.datainput textarea:focus ~ label,
.datainput textarea:valid ~ label {
  top: -10px;
  font-size: 14px;
  color: #21a51f;
}
.datainput input:focus ~ .bar:before,
.datainput input:focus ~ .bar:after,
.datainput textarea:focus ~ .bar:before,
.datainput textarea:focus ~ .bar:after {
  width: 50%;
}
.datainput input:focus ~ .highlight,
.datainput textarea:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}
.datainput input:focus ~ label,
.datainput input:valid ~ label,
.datainput textarea:focus ~ label,
.datainput textarea:valid ~ label {
  top: -10px;
  font-size: 13px;
  color: #21a51f;
}

.crud-form {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  box-sizing: border-box;
}
.crud-form textarea {
  min-height: 120px;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before, .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #21a51f;
  transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

.highlight {
  position: absolute;
  height: 50%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

form.crud-form {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-radius: 0.5rem;
  padding: 20px;
  box-sizing: border-box;
  color: #444;
  font-size: 14px;
  line-height: 1.5;
}

.crud-form button.send_form {
  color: #fff;
  background: #21a51f;
  text-decoration: none;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 0.3rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 15px;
}

/*# sourceMappingURL=app.css.map */
