@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Nunito");
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #333333;
  justify-content: space-evenly;
  height: 60px;
  width: 100%;
  padding-top: 20px;
}

.logo {
  width: 320px;
  font-size: 30px;
  font-style: italic;
  text-align: left;
}
.logo a {
  text-decoration: none;
  color: #38c172;
}

.log-block {
  width: 320px;
  font-size: 20px;
  text-align: right;
}
.log-block a {
  text-decoration: none;
  color: #ffffff;
}

.search {
  border: 0;
  margin-bottom: 5px;
}
.search input {
  height: 30px;
  width: 260px;
  margin-right: 0;
  padding: 2px;
  border: 0;
  height: 30px;
}
.search button {
  height: 30px;
  width: 60px;
  color: white;
  background-color: #f8cd58;
  padding: 2px;
  border: 0;
}

.admin-header {
  background-color: #333333;
  justify-content: space-evenly;
  height: 60px;
  width: 100%;
}
.admin-header .log {
  padding: 20px;
}
.admin-header .log .log-block {
  width: 320px;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}
.admin-header .log .log-block .login, .admin-header .log .log-block .logout {
  width: 150px;
  color: white;
}
.admin-header .log .log-block a {
  text-decoration: none;
  color: #ffffff;
}
.admin-header .log .log-block a:hover {
  color: #c6c6c6;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #333333;
  height: 200px;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 10px;
  padding: 1rem;
}
.footer .info {
  justify-content: space-evenly;
}

.clients, .about, .cabinet {
  padding: 10px;
  height: auto;
  width: 150px;
}
.clients a, .clients h1, .about a, .about h1, .cabinet a, .cabinet h1 {
  text-align: left;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

.cop-text {
  text-align: center;
  color: #c6c6c6;
  padding: 10px;
}

hr {
  width: 100%;
  border: 2px solid black;
}

.admin-footer {
  background-color: #333333;
  height: auto;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

.categories {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8cd58;
  font-size: 18px;
}

.menu li {
  position: relative;
}
.menu a, .menu span {
  text-decoration: none;
  display: block;
  padding: 10px 1.5em;
  color: #000000;
  transition: background-color 0.22s ease, color 0.22s ease;
}
.menu a:hover, .menu span:hover {
  text-decoration: none;
  background-color: #333333;
  color: #ffffff;
}

.menu > li, .menu > a {
  display: inline-block;
}

.submenu {
  position: absolute;
  background-color: #f8cd58;
  left: 0;
  height: auto;
  width: 200px;
  display: none;
}

.submenu2 {
  position: absolute;
  background-color: #f8cd58;
  height: auto;
  width: 200px;
  left: 100%;
  top: 0;
  display: none;
}

.menu li:hover > .submenu {
  display: block;
}

.submenu li:hover > .submenu2 {
  display: block;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 70%;
  width: 94%;
}

.promotions {
  height: 100px;
  width: 70%;
  margin: 25px;
  border: 2px solid red;
  max-width: 100%;
}

.popular {
  background-color: #f8cd58;
  padding: 10px;
  margin-top: 15px;
  max-width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-card-container {
  margin: 0 auto;
  height: auto;
  width: 100%;
  display: flex;
  padding: 10px;
}

.flex-card-container > div {
  padding: 20px 0;
  font-size: 30px;
}

.flex-title {
  text-align: left;
  padding: 10px;
  border-bottom: 2px solid black;
}

.flex-img {
  height: 550px;
  width: 550px;
  border: 2px solid rebeccapurple;
}

.flex-card-container .flex-rate .star {
  font-size: 50px;
  color: #d6b10c;
}
.flex-card-container .flex-rate .star::before {
  content: "★";
}

.price-rate {
  margin: 50px 20px;
}

.flex-card-container .flex-row .buy {
  position: absolute;
  right: 0;
}

.flex-card-container .price-rate .flex-description {
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.wrap-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-evenly;
  padding: 10px;
  height: auto;
  width: 100%;
}

.wrap-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin: 10px;
  height: 350px;
  width: 30%;
}

.filter {
  height: auto;
  width: 70%;
}

.filter-selector {
  height: 30px;
  width: 220px;
}

.more {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

.more [open] {
  padding: 0.5em;
}

.more [open] summary {
  border: 1px solid #aaa;
  margin-bottom: 0.5em;
}

.product-list {
  padding: 10px;
  margin: 5px;
  border: 2px solid black;
}
.product-list thead {
  height: 30px;
  font-size: 25px;
  text-align: center;
  background-color: #c3c3c3;
}
.product-list thead th {
  border: 1px solid black;
}
.product-list tbody td {
  border: 1px solid black;
  padding: 5px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.add {
  background-color: #38c172;
}
.add:hover {
  background: 0;
  color: #38c172;
  border: 2px solid #38c172;
}

.edit {
  background-color: #f8cd58;
}
.edit:hover {
  background: 0;
  color: #f8cd58;
  border: 2px solid #f8cd58;
}

.delete {
  background-color: #e3342f;
}
.delete:hover {
  background: 0;
  color: #e3342f;
  border: 2px solid #e3342f;
}

.add, .edit, .delete {
  height: 50px;
  width: 150px;
  padding: 10px;
  border: 2px solid white;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 25px;
}
.add:hover, .edit:hover, .delete:hover {
  text-decoration: none;
  transition: color 0.3s ease, background 0.3s ease, border 0.3s ease;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.add-form {
  margin: 10px;
  height: auto;
  width: 100%;
  display: flex;
  background-color: #333333;
  border-radius: 25px;
  justify-content: center;
}
.add-form label {
  color: white;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 0;
}
.add-form .form input, .add-form .form textarea, .add-form .form select, .add-form .form button, .add-form .title input, .add-form .title textarea, .add-form .title select, .add-form .title button, .add-form .category input, .add-form .category textarea, .add-form .category select, .add-form .category button, .add-form .price input, .add-form .price textarea, .add-form .price select, .add-form .price button, .add-form .description input, .add-form .description textarea, .add-form .description select, .add-form .description button, .add-form .count input, .add-form .count textarea, .add-form .count select, .add-form .count button {
  height: 50px;
  width: 100%;
  text-align: center;
  margin: 5px;
  border-radius: 10px;
  border-color: white;
  background: white;
  color: black;
}

/*# sourceMappingURL=app.css.map */
