// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}
* {
    padding: 0;
    margin: 0;
}

@import "layout/header";
@import "layout/footer";
@import "layout/nav";
@import "schema/content";
@import "schema/product-card";
@import "schema/category";
@import "admin/detail";
@import "admin/table";
@import "admin/buttons";
@import "admin/add-edit";

