@import '../variables';

.content {
    justify-content: center;
}

.promotions {
    @include size(100px, 70%);
    margin: $pad * 2.5;
    border: 2px solid red;
}

.popular {
    background-color: $yellow;
    width: 60%;
    padding: $pad;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #2196F3;
    padding: $pad;
    @include size(auto, 60%);
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    @include size(350px, 70%);
}
