@import '../variables';

.content {
    justify-content: center;
    margin: 0 auto;
    max-width: 70%;
    width: 94%;
}

.popular {
    background-color: $yellow;
    padding: $pad;
    margin-top: 15px;
    max-width: 100%;
}

