@import '../variables';

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 70%;
}

.promotions {
    @include size(100px, 70%);
    margin: $pad * 2.5;
    border: 2px solid red;
    max-width: 100%;
}

.popular {
    background-color: $yellow;
    padding: $pad;
    margin-top: 15px;
    max-width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: $pad;
    @include size(auto, 60%);
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    @include size(350px, 70%);
}
