@import '../variables';

.flex-card-container {
    margin: 0 auto;
    @include size(auto, 100%);
    display: flex;
    padding: $pad;
}


.flex-card-container > div {
    padding: $pad;
    font-size: 25px;
}

.flex-card-container {
    .flex-title {
        text-align: left;
        padding: $pad;
        border-bottom: 2px solid black;
    }

    .flex-info {
        position: relative;
        justify-content: space-between;

        .flex-img {
            border: 1px solid black;

            img {
                @include size(550px, 550px);
            }
        }

        .price-rate {
            justify-content: center;

            .flex-rate .star {
                font-size: 50px;
                color: #d6b10c;

                &::before {
                    content: '★'
                }
            }
        }

        .buy {
            position: absolute;
            right: 0;
        }
    }
}


